.main {
  flex: 1;
  padding: 86px;
  background: #f5f6fa;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn {
  background: #2f80ed;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

th {
  background: #2f80ed;
  color: white;
}

.action-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit {
  background: orange;
  color: white;
}

.delete {
  background: red;
  color: white;
}
