<footer>
  <div class="container">
    <div class="row">
      <!-- fisrt col -->
      <div class="col-md-6">
        <h3 class="fth">Sentinel Surveillance</h3>
        <p class="ftp">
          Engineering the next generation of visual intelligence and <br />operational security for
          a volatile world.
        </p>
        <i class="fa-solid fa-share-nodes fth fthi"></i>
        <i class="fa-solid fa-earth-americas fth fthi"></i>
      </div>
      <!-- second col -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <h6 class="fth">Platform</h6>
            <p class="ftp">Dashboard</p>

            <p class="ftp">Live</p>

            <p class="ftp">Feed</p>

            <p class="ftp">Analytics</p>
          </div>
          <div class="col-md-4">
            <h6 class="fth">Company</h6>
            <p class="ftp">Privacy Policy</p>
            <p class="ftp">Terms of servises</p>
            <p class="ftp">Status</p>
          </div>
          <div class="col-md-4">
            <h6 class="fth">Contacts</h6>
            <p class="ftp">mail ops@sentinel.io</p>
            <p class="ftp">call +1 (888) 000-SAFE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
