<footer>
  <div class="container">
    <div class="row">
      <!-- fisrt col -->
      <div class="col-md-6">
        <h3 class="fth">Sentinel Surveillance</h3>
        <p class="ftp">
          Engineering the next generation of visual intelligence and <br />operational security for
          a volatile world.
        </p>
        <i class="fa-solid fa-share-nodes fth fthi"></i>
        <i class="fa-solid fa-earth-americas fth fthi"></i>
      </div>
      <!-- second col -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <h6 class="fth"><a href="#">Platform</a></h6>
            <p class="ftp"><a href="#">Dashboard</a></p>

            <p class="ftp"><a href="#">Live</a></p>

            <p class="ftp"><a href="#">Feed</a></p>

            <p class="ftp"><a href="#">Analytics</a></p>
          </div>
          <div class="col-md-4">
            <h6 class="fth"><a href="">Company</a></h6>
            <p class="ftp"><a href="">Privacy Policy</a></p>
            <p class="ftp"><a href="#">Terms of servises</a></p>
            <p class="ftp"><a href="#">Status</a></p>
          </div>
          <div class="col-md-4">
            <h6 class="fth">Contacts</h6>
            <p class="ftp">mail <a href="#">shaikmohammedather5@gmail.com</a></p>
            <p class="ftp">call <a href="#">9392875405</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
