<nav class="navbar navbar-expand-lg">
  <button (click)="toggleMenu()" class="bgbtn"><i class="fa-solid fa-bars burgerbtn"></i></button>
  <app-sidebar [isMenuOpen]="isMenuOpen"></app-sidebar>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sentinal Survellance</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" tabindex="-1" aria-disabled="true" routerLink="/customers"
            >Customers</a
          >
        </li>
      </ul>
    </div>
    <i class="fa-regular fa-bell"></i>
    <i class="fa-solid fa-gear"></i>
    <i class="fa-regular fa-user"></i>
  </div>
</nav>
