.navbar {
  display: flex;
  height: 76px;
  background-color: #0b1326;
  padding: 0px 32px;
  gap: 20px;
  width: 100vw;
  box-shadow: 5px black;
}
.navbar a {
  color: #dae2fd;
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
}
.navbar.search {
  margin-left: auto;
}
.fa-bell {
  color: white;
  margin-left: 5px;
  font-size: 25px;
}
.fa-gear {
  color: white;
  margin-left: 5px;
  font-size: 25px;
}
.fa-user {
  color: white;
  margin-left: 5px;
  font-size: 25px;
}
.burgerbtn {
  color: white;
  margin-left: 5px;
  font-size: 25px;
}
.icons {
  gap: 15px;
}
