section {
  background-color: #031334;
}
.services {
  padding-bottom: 15px;
}
.services h1 {
  font-size: 40px;
  color: rgb(238, 231, 231);
  padding-top: 80px;
  padding-bottom: 10px;
  margin-left: 15px;
}
.card {
  color: #111;
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  min-height: 260px;
}
.card h3 {
  padding-top: 5px;
}
.card2 {
}
.card p {
  padding-top: 10px;
  font-size: 30px;
}
.repbtn {
  color: #111;
  font-size: 20px;
  /* background-color: #111; */
  padding: 10px 16px;
  margin-top: 25px;
  width: 111px;
  height: 55px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Times New Roman', Times, serif;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(182, 204, 233);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
