<footer>
  <div class="container">
    <div class="row">
      <!-- fisrt col -->
      <div class="col-md-6">
        <h3>Sentinel Surveillance</h3>
        <p>
          Engineering the next generation of visual intelligence and <br />operational security for
          a volatile world.
        </p>
        <i class="fa-solid fa-share-nodes"></i>
        <i class="fa-solid fa-earth-americas"></i>
      </div>
      <!-- second col -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <h6>Platform</h6>
            <p>Dashboard</p>

            <p>Live</p>

            <p>Feed</p>

            <p>Analytics</p>
          </div>
          <div class="col-md-4">
            <h6>Company</h6>
            <p>Privacy Policy</p>
            <p>Terms of servises</p>
            <p>Status</p>
          </div>
          <div class="col-md-4">
            <h6>Contacts</h6>
            <p>mail ops@sentinel.io</p>
            <p>call +1 (888) 000-SAFE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
